<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
       
      <li class="name">
        <h1>
          <a href="{{ site.baseurl }}/index.html">
            aalgahmi.github.io
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      {% if page.locale == 'en' %}
        <ul class="right">
          <li><a href="{{ site.baseurl }}/ar.html">العربية</a></li>
        </ul>
      {% else %}
        <ul class="left">
          <li><a href="{{ site.baseurl }}/">English</a></li>
        </ul>
      {% endif %}
    </section>
  </nav>
</div>