<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
       
      <li class="name">
        <h1>
          <a href="{{ site.baseurl }}/index.html">
            aalgahmi.github.io
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="{{ site.data.i18n[page.locale].left }}">
        <!--<li>
          <a href="{{ site.baseurl }}/about.html">
            {{ site.data.i18n[page.locale].menu.about }}
          </a>
        </li> -->
        <li>
          <a href="{{ site.baseurl }}/{{ page.locale }}/">
            {{ site.data.i18n[page.locale].menu.recent_posts }}
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/{{ page.locale }}/all.html">
            {{ site.data.i18n[page.locale].menu.all_posts }}
          </a>
        </li>
      </ul>

      <ul class="{{ site.data.i18n[page.locale].right }}">
        <li>
          <a href="{{ site.baseurl }}/{{ site.data.i18n[page.locale].menu.other_locale }}/">
            {{ site.data.i18n[page.locale].menu.other_language }}
          </a>
        </li>
      </ul>
    </section>
  </nav>
</div>