---
layout: default
---

<div class="jumbotron secondary">
  <div class="row">
    <div class="large-12 hide-for-small">
      <div id="featured" style="text-align: center;">
        <h1><i class="fa fa-newspaper-o"></i></h1>
        <h2>
          aalgahmi.github.io
        </h2>
      </div>
    </div>
  </div>
</div>
<br/><br/>

<div class="row">
  <div class="large-2 columns" role="aside">&nbsp;</div>
  <div class="large-8 columns" role="content">
    {{ content }}
  </div>
  <div class="large-2 columns" role="aside">&nbsp;</div>
</div>
