<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="{{page.locale}}" dir="{{ site.data.i18n[page.locale].dir }}" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
{% include head.html %}
<body>
  {% include navbar.html %}
  <hr style="margin: 0px;"/>

  <div class="jumbotron secondary">
    <div class="row">
      <div class="large-12 columns hide-for-small">
        <div id="featured" style="text-align: center;">
          <h2>{{ site.data.i18n[page.locale].blog_title }}</h2>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>

  <div class="row">
    <div class="large-3 columns" role="aside">
      <img src="{{ site.baseurl }}/images/pic.jpg" class="centered photo"/>
      <span class="centered"><strong>{{ site.data.i18n[page.locale].author.name }}</strong></span>
      <br/>
      <blockquote>{{ site.data.i18n[page.locale].blog_quote }}</blockquote>

      <br/>
      <ul style="list-style: none;">
      <li><a href="http://twitter.com/aalgahmi" target="_blank">
        <i class="fa fa-fw fa-twitter-square"></i> Twitter
      </a></li>
      <li><a href="http://facebook.com/aalgahmi" target="_blank">
        <i class="fa fa-fw fa-facebook-square"></i> Facebook
      </a></li>
      <li><a href="http://plus.google.com/+aalgahmi" target="_blank">
        <i class="fa fa-fw fa-google-plus-square"></i> Google+
      </a></li>
      <li><a href="http://instagram.com/mmistakes"target="_blank">
        <i class="fa fa-fw fa-instagram"></i> Instagram
      </a></li>
      <li><a href="http://github.com/mmistakes" target="_blank">
        <i class="fa fa-fw fa-github"></i> Github
      </a></li>
      </ul>
    </div>
    <div class="large-9 columns" role="content">
      {{ content }}
    </div>
  </div>

 
  {% include footer.html %}

  <script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/bower_components/foundation/js/foundation.min.js"></script>
  <script src="{{ site.baseurl }}/javascripts/app.js"></script>
</body>
</html>