<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="{{page.locale}}" dir="{{ site.data.i18n[page.locale].dir }}" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
{% include head.html %}
<body>
  {% include navbar.html %}
  <hr style="margin: 0px;"/>

  <div class="jumbotron secondary">
    <div class="row">
      <div class="large-1 columns hide-for-small">&nbsp;</div>
      <div class="large-3 columns hide-for-small">
        <div id="featured" style="text-align: center;">
          <h3>{{ site.data.i18n[page.locale].blog_title }}</h3>
        </div>
      </div>
      <div class="large-8 columns hide-for-small">
        <div id="featured">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
  <br/><br/>

  <div class="row">
    <div class="large-1 columns hide-for-small" role="aside">
      &nbsp;
    </div>
    <div class="large-3 columns" role="aside">
      {% include aside.html %}
    </div>
    <div class="large-7 columns" role="content">
      {{ content }}
    </div>
    <div class="large-1 columns hide-for-small" role="aside">
      &nbsp;
    </div>
  </div>

  {% include footer.html %}

  <script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/bower_components/foundation/js/foundation.min.js"></script>
  <script src="{{ site.baseurl }}/javascripts/app.js"></script>
</body>
</html>